# Primera entrega ML

### Título de proyecto

## Detección de intrusiones con redes neuronales

### Tema

Ante las numerosas ciberamenazas a las que las compañías y organismos públicos se ven cada vez más expuestos, la analítica de datos y los algoritmos de machine learning, están adquiriendo cada vez más un peso mayor en la detección de amenazas y las arquitecturas de seguridad. Por ello, en este proyecto, se estudiarán los mecanismos más útiles en el campo de la ciencia de datos que pueden ayudar a la lucha contra estos peligros.

Se presentará la investigación de amenazas a través de la detección de patrones en grandes volúmenes de datos usando redes neuronales. 
El dataset tendrá nueve tipos de ataques: "Fuzzers", "Analysis", "Backdoors", "DoS", "Exploits", "Generic", "Reconnaissance",  "Shellcode" y "Worms" dentro de un dataset de más de 2 millones y medio de entradas divididas en 4 CSVs.

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Red Neuronal" # Regresión? Clasificación?
target_descr = "El target viene nombrado como 'label' en forma de 1 si hubo ataque o 0 si no." # Descripción de la variable objetivo
metricas = ['accuracy, confusion matrix'] # Metricas escogidas para evaluar los modelos

In [ ]:
# dasets y enlaces de datasets en Markdown
enlaces = ['https://research.unsw.edu.au/projects/unsw-nb15-dataset']

In [2]:
import pandas as pd
df_example = pd.read_csv('example/UNSW_NB15_training-set.csv')
df_example.tail()

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
82327,82328,0.000005,udp,-,INT,2,0,104,0,200000.005100,...,1,2,0,0,0,2,1,0,Normal,0
82328,82329,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,...,1,1,0,0,0,3,2,0,Normal,0
82329,82330,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82330,82331,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82331,82332,0.000009,udp,-,INT,2,0,104,0,111111.107200,...,1,1,0,0,0,1,1,0,Normal,0

In [5]:
df_example.columns

Index(['id', 'dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')